/*************************************************************************
 *
 * TOP COUNSELLING CONFIDENTIAL
 * ___________________
 *
 *  Copyright 2014 TOP COUNSELLING
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Top Counselling and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Top Counselling and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Top Counselling.
 **************************************************************************/

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans-Regular.ttf') format('truetype');
}

html {
    color: #222222;
    margin: 0 1rem;
    overflow-x: hidden;
}

html body {
    background-image: url("../img/frame_full.png");
    background-position: left;
    background-repeat: repeat-y;
    background-size: 15%;
    -webkit-appearance: none;
    font-family: "OpenSans", Times, serif;
}

html .centered-content {
    width: 80%;
    margin: 0 1rem 0 auto;
    font-size: 0.9rem;
}

/***************************************************************************************
                HEADER
 ***************************************************************************************/
.header {
    width: 100%;
    overflow: hidden;
}

.header .header-line {
    text-align: center;
    margin: 0.5rem auto 0 auto;
    clear: both;
}

.header .logo {
    margin: 0 2.35rem 1rem;
}

.header .logo img {
    height: 120px;
    margin: 0.25rem 1rem 1rem 0;
}

.header .title {
    display: inline-block;
    max-width: 14rem;
    text-align: center;
}

.header .title .name {
    font-family: 'OpenSans';
    font-size: 1.8rem;
    display: inline;
}

.header .title .email {
    font-size: 1.1rem;
}

.header .right {
    display: block;
    margin-top: .25rem;
}

.header .right img {
    border-radius: 15px 50px;
    -moz-border-radius: 15px 50px;
    -webkit-border-radius: 15px 50px;
}

.header .phone {
    padding: 0.25rem;
}
.header .booking {
    height: 27px;
    margin-top: 0.7rem;
}

/***************************************************************************************
                MENU
 ***************************************************************************************/
.menu {
    clear: both;
}

.menu .booking {
    padding: 0.25rem;
    margin: 0 1rem;
}

.menu .list {
    margin: 1rem 0 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.menu .list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.menu .list ul li {
    display: inline;
}

.menu .list ul li a {
    text-decoration: none;
    padding: .2em 1em;
    color: #fff;
    background-color: rgb(75, 159, 71);
    word-wrap: normal;
    white-space: nowrap;
    line-height: 2rem;
}
.menu .list ul li a.selected {
    background-color: #012;
}

.menu .list ul li a:hover {
    color: #fff;
    background-color: #369;
}

/***************************************************************************************
                CONTENT
 ***************************************************************************************/
.content {
    margin: 1rem 0;
    width: 100%;
    overflow: auto;
    clear: both;
}

.content .vertical-top {
    vertical-align: top;
}

.content .display-inline-block {
    display: inline-block;
}

.content .text-italic {
    font-style: italic;
}

.content .float-right {
    float: right;
}

.content > span:first-child {
    display: block;
    opacity: 1;
    height: auto;
}

.content .only-mobile {
    display: none;
}

.content .not-mobile {
    display: block;
}

.content > span {
    width: 60%;
    margin-bottom: 10rem;
    position: absolute;
    opacity: 0;
    padding: 1rem;
    background-color: #FDFDFD;
    color: rgb(104, 104, 104);
    border: 2px black solid;
    border-radius: 25px;
}

.content > span h3:first-child {
    margin-top: 0;
}

.content .location a img {
    margin-top: 1.3rem;
    padding-right: 1rem;
}

.content a {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.footer {
    position: absolute;
    display: none;
    max-width: 206px;
    text-align: center;
}

.footer > div {
    float: right;
    margin: 0.2rem 0.5rem;
}

/***************************************************************************************
/* Different Screen Sizes */

@media only screen and (max-width : 480px) and (orientation : portrait) {
    .content .only-mobile {
        display: block;
    }

    .content .not-mobile {
        display: none;
    }
}

/***************************************************************************************/
@media (min-width : 466px) {

    .header .header-line {
        margin-top: 0.5rem;
    }

    .header .logo {
        display: inline;
        margin: 0;
    }
    .header .logo img {
        height: 80px;
        float: left;
    }

    .header .title {
        display: inline-block;
        /*min-width: 11rem;*/
        margin-right: 0;
        margin-top: 1rem;
    }

    .header .title .name {
        font-size: 1.5rem;
    }

    .header .title .email {
        font-size: 1.2rem;
    }

    .header .right {
        float: right;
    }

    .header .phone {
        margin-bottom: 1.2rem !important;
    }

    .content > span {
        width: 70%;
    }

    .footer {
        max-width: 100%;
    }
}

/***************************************************************************************/
@media (min-width : 680px) {

    .header .title {
        /*width: 14rem;*/
        display: inline-block;
    }

/*    .header .right {
        width: 8.8rem;
    }*/

    .content > span {
        width: 72%;
    }
}

/***************************************************************************************/
@media (min-width : 781px) {

    .header .header-line {
        margin-top: 0.5rem;
        margin-left: 0;
        margin-right: 0;
    }

    .header .logo,
    .header .logo img{
        height: 120px;
        width: 130px;
    }

    .header .title {
        display: inline-block;
        margin-top: 2rem;
    }

    .header .title .name {
        font-size: 1.9rem;
    }
}
